<%- include('partials/navbar') %>
<div class="underbox">
    <div class="forgotBox">
        <div class="proLogo" style="margin-bottom: 2vmin;">
          <img class="mainlogo" src="/projectImages/logo.png" alt="">
          <h1 class="signname">SocialMedia</h1>
        </div>
          <p id="warningconfirm">Are you sure ? If yes than click on delete account.</p>
           <a style="color:#C82333" href="/delete-account">Delete Account</a>
      </div>
</div>
<%- include('partials/footer') %>