<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet"
        />
        <link rel="shortcut icon" href="/projectImages/logo.png" type="image/x-icon">
</head>
<body class="bodyLoggin">
    <div class="forgotBox">
      <div class="proLogo">
        <img class="mainlogo" src="/projectImages/logo.png" alt="">
        <h1 class="signname">SocialMedia</h1>
      </div>
      <p class="forgotmsg">Forgot password ? , don't worry.We will send you link to reset your password.Please enter your valid email address.</p>
      <form class="forgotform" action="forgot-password" method="POST">
        <input class="signup-input" type="email" name="email" id="" placeholder="Enter your email address">
        <button class="signup-btn" type="submit" >Send Mail</button>
      </form>
    </div>
</body>
</html>