<%- include('partials/navbar') %>
<div class="underbox">
    <div class="forgotBox">
        <div class="proLogo" style="margin-bottom: 2vmin;">
          <img class="mainlogo" src="/projectImages/logo.png" alt="">
          <h1 class="signname">SocialMedia</h1>
        </div>
          <p id="warningconfirm">You have entered wrong password</p>
           <a href="/reset-password">try again</a>
      </div>
</div>
    <script src="/javascripts/changePassword.js"></script>
<%- include('partials/footer') %>