<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/projectImages/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="bodyLoggin">
    <div style="height: 50vmin; background-color: transparent; box-shadow: none;" class="signup-box">
      <div class="proLogo">
        <img class="mainlogo" src="/projectImages/logo.png" alt="">
        <h1 class="signname">SocialMedia</h1>
      </div>
      <div style="height: 4vmin;" ></div>
      <p class="para-2">
        User already exists <a class="sign-linker" href="/signup">Go back</a>
      </p>
    </div>
  </body>
</html>
